body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.screen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Arrange sections horizontally */
}

.screen.visible {
    display: flex;
}

#home {
    flex-direction: row; /* Arrange options horizontally */
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.option {
    flex: 1;
    min-height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 36px;
    padding: 2.5vw; /* Responsive padding based on viewport width */
    margin: 3vw;
    letter-spacing: -2.63%;
    letter-spacing: -1.732px;
}

.option span {
    line-height: 64px;
}

.option:nth-child(1) {
    background-color: black;
}

.option:nth-child(2) {
    background-color: red;
}

.option:nth-child(3) {
    background-color: grey;
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 2.7vw; /* Responsive padding */
    height: 100%;
}

.left-section {
    background-color: #f0f0f0;
}

.left-section h3 {
    text-align: center;
    position: relative;
}

#graph {
    width: 80%;
    height: 300px;
    background-color: #ddd; /* Placeholder for the graph */
}

button {
    margin-top: 2vw;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    padding: 1vw;
    margin: 1vw 0;
    font-size: 1.5vw;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 11.5vh;
    width: 100%;
    background-color: #FFF;
    color: #FFF;
    text-align: center;
    flex-direction: row;
}

.footer div {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    cursor: pointer;
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
    .screen {
        flex-direction: column; /* Switch to a single column layout */
    }

    #home {
        flex-direction: column; /* Switch home options to a vertical layout */
        justify-content: center;
        align-items: center;
        padding: 4vw;
    }

    .option {
        width: 80%;
        margin: 4vw;
        padding: 4vw;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 4vw;
        justify-content: start;
    }

    .left-section {
        text-align: center;
        height: 50vh;
    }

    #graph {
        width: 90%;
        height: 200px;
    }

    .footer {
        height: 8vh;
        font-size: 0.9em;
    }
}
